@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

$fb: #002780;
$fc: #fff;
$fr: #f31931;
$wd: 1152px;
$ht: 924px;

html {
  background: linear-gradient(
    90deg,
    $fb 0%,
    $fb 33.3%,
    #ffffff 33.3%,
    #ffffff 66.6%,
    $fr 66.6%,
    $fr 100%
  );
  text-align: center;
}

.blue {
  color: $fb;
}

.white {
  color: white;
}

.red {
  color: $fr;
}

#game {
  display: none;
}

#frame {
  background-color: gray;
  max-width: $wd * 4/5;
  height: $ht * 24/25;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

input[type="checkbox"] {
  display: none;
  + label:before {
    font-family: FontAwesome;
    display: inline-block;
    content: "\f096";
    letter-spacing: 10px;
  }

  &:checked + label:before {
    content: "\f046";
    letter-spacing: 5px;
  }
}

@mixin baseButton($bColor, $lColor: white) {
  display: inline-block;
  font-size: 10pt;
  text-align: center;
  cursor: pointer;
  padding: 12px 12px;
  background: $bColor;
  color: $lColor;
  line-height: 0.1em;
  transition: 0.3s;
  box-shadow: 3px 3px #666666;
  text-decoration: none;
  border: 2px solid $bColor;
  &:hover {
    box-shadow: none;
    color: $bColor;
    background: $lColor;
  }
  &[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
  }
  &[disabled]:hover {
    box-shadow: 3px 3px #666666;
    color: $lColor;
    background: $bColor;
  }
}

.btn-blue {
  @include baseButton($fb);
}

.btn-red {
  @include baseButton($fr);
}

.btn-white {
  @include baseButton($fc, #000);
}